.flex-col {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.w-80 {
    width: 80%;
}

.w-1-3 {
    width: 30%;
}

.mw-100 {
    width: 100%;
}

.mw-fit {
    width: max-content;
}

.red {
    color: red;
}

#alert {
    width: 20%;
}